.container {
  display: flex;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.main-title {
  font-size: 50px;
  color: rgb(51, 43, 43);
  line-height: 0.5;
}

.left-side {
  margin: 40px 20px 40px 20px;
  float: left;
  margin: auto;
  margin-left: 100px;
}

.right-side {
  margin: 40px 20px 40px 20px;
  float: right;
}

/* .divider {
  display: flex;
} */

.btn {
  text-align: center;
  color: white;
  border: 50px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid orange;
  background-image: linear-gradient(to right, orange, orangered);
}
.about-me {
  background-image: url("Picture/Frame\ 58.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.about-left-side {
  height: 700px;
  margin: 100px 20px 40px 20px;
  margin-bottom: 0;
  float: left;
  margin-left: 125px;
}
.about-right-side {
  margin-right: 100px;
  float: right;
  width: 50%;
}

.txt-Recipies {
  text-align: center;
  margin-top: 100px;
}
.recipie-title {
  margin: 50px;
  display: flex;
}
.recipie-title img {
  margin-top: 5px;
}
.first-title {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  border-radius: 15px;
}
.image-fluid {
  max-width: 100%;
  height: auto;
}
#social-sites {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 150px 150px 150px 150px rgb(233, 229, 229);
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
}
.youtube-subs, .dribbles-shots, .instagram-follower {
  padding-left:180px;
  padding-right:100px;
  text-align: center;
}

.footer-style {
  background-color: black;
  color: gray;
  text-align: center;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
