.container {
  display: flex;
}
body {
  font-family: "Poppins", sans-serif;
}
.main-title {
  font-size: 50px;
  color: rgb(51, 43, 43);
  line-height: 0.5;
}

.left-side {
  margin: 40px 20px 40px 20px;
  float: left;
  margin: auto;
  margin-left: 100px;
}

.right-side {
  margin: 40px 20px 40px 20px;
  float: right;
}

/* .divider {
  display: flex;
} */

.btn {
  text-align: center;
  color: white;
  border: 50px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  border: 1px solid orange;
  background-image: linear-gradient(to right, orange, orangered);
}
.about-me {
  background-image: url(Picture/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.about-left-side {
  height: 700px;
  margin: 100px 20px 40px 20px;
  margin-bottom: 0;
  float: left;
  margin-left: 125px;
}
.about-right-side {
  margin-right: 100px;
  float: right;
  width: 50%;
}

.txt-Recipies {
  text-align: center;
}
.recipie-title {
  margin: 50px;
  display: flex;
}
.recipie-title img {
  margin-top: 5px;
}
.first-title {
  padding: 10px;
}
.image-fluid {
  max-width: 100%;
  height: auto;
}
#social-sites {
  display: flex;
  
}
.youtube-subs{
   margin-left: 40%;text-align: center;
}
.instagram-follower{
  margin-right: 20%;
}
.dribbles-shots{
  margin-left: 15%;
  margin-right: 40%;
}